.tbl_f8{
width: 1000px;
background: #fff;
border-collapse: collapse;
position: relative;
margin: 0 auto;
}
.tbl_f8 td{
font-size: 9px;
padding: 4px;
}
.f8{
position: absolute;
top: 4;
right: 4;
font-weight: bold;
}
.tr_blue td{
background: #00008b;
color: #fff;
border: 0.2pt solid #000;
}
.td_border td{
border: 0.2pt solid #000;
}
.space{
padding: 10 0px;
background: #fff;
}
.empty_form{
padding: 10 0px;
text-indent: 12px;
font-size: 15px;
border-radius: 5px;
background: #ffb6c1;
}
.con_no_f7{
width: 200;
padding: 20px;
background: #ffb6c1;
color: #ff0000;
font-size: 17px;
text-align: center;
border-radius: 5px;
border: 1px solid #fff;
margin: 10 auto;
}
