.space{
padding: 10 0px;
background: #fff;
}
.tbl_form3{
margin: 20 auto;
background: #fff;
width: 1200px;
border-collapse: collapse;
position: relative;
font-size: 14px;
}
.tbl_form3 td{
padding: 4px;
}
.f3{
position: absolute;
top: 4;
right: 4;
font-weight: bold;
}
.tr_banner{
background: #00008b;
}
.tr_banner td{
border: 1px solid #000;
color: #fff;
}
.txt{
width: 100%;
height: 50px;
padding: 2px;
border: 1px solid #ccc;
font-family: sans-serif, tahoma, calibri;
}
.td_border td{
border: 1px solid #000;
}
.btn_submit{
padding: 5px;
color: #fff;
background: #9acd32;
border-radius: 2px;
cursor: pointer;
border-bottom: 1px solid #669933;
}
.btn_submit:hover{
background: #669933;
}
.f3_innn_forbid{
background: rgba(0,0,0,0.4);
position: absolute;
z-index: 60;
width: 100%;
height: 100%;
}